@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  background-color: #111;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding-bottom: 2.1em;
}

footer a {
  color: rgb(48, 48, 218);
  text-decoration: none;
}
