.MovieRow {
  margin-bottom: 30px;
}
.MovieRow h2 {
  margin: 0 0 0 30px;
}

.MovieRowListArea {
  overflow-x: hidden;
  padding-left: 30px;
}

.MovieRowList {
  transition: all 0.3s;
}

.MovieRowItem {
  display: inline-block;
  width: 150px;
}

.MovieRowItem img {
  width: 100%;
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.MovieRowItem img:hover {
  transform: scale(1);
}

.MovieRowLeft,
.MovieRowRight {
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}

.MovieRowLeft {
  left: 0;
}

.MovieRowRight {
  right: 0;
}

.MovieRow:hover .MovieRowLeft,
.MovieRow:hover .MovieRowRight{
    opacity: 1;
}

@media (max-width: 760px) {
  .MovieRowLeft,
  .MovieRowRight {
    opacity: 1;
  }
}