.Header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  transition: all ease 0.6s;
}

.HeaderBlack {
  background-color: #000;
}

.HeaderLogo {
  height: 30px;
}

.HeaderUser {
  height: 35px;
}

.HeaderUser img {
  height: 100%;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .Header {
    height: 60px;
  }
}